<!-- start banner_x -->
<div class="banner_x center">
	<a href="/" target="_blank"><div class="logo fl"></div></a>

	<div class="nav fl">
		<ul class="clearfix" id="nav_list">
			<li class="link-category">
				<a href="#">全部商品分类</a>

				<div class="banner_y center ">
					<div class="nav">
						<ul class="all_goods_cate">
							{{range $key,$value := .goodsCateList}}
								<li>
									{{if eq $value.Link ""}}
										<a href="/category_{{$value.Id}}.html" target="_blank">{{$value.Title}}</a>
									{{else}}
										<a href="{{$value.Link}}" target="_blank">{{$value.Title}}</a>
									{{end}}

									<div class="arrow fr">
										<img width="14px" src="http://bee.sunyj.xyz/arrow.png" alt="">
									</div>
									<div class="pop">
										<ol class="cate_list clear">
											{{range $k,$v := $value.GoodsCateItem}}
												<li>
													<div class="xuangou_left">
														{{if eq $v.Link ""}}
															<a href="/category_{{$v.Id}}.html" target="_blank" class="clearfix">
																<div class="img fl">
																	<img src="{{$v.CateImg | formatImg}}" alt="{{$v.Title}}">
																</div>
																<span class="fl">{{$v.Title}}</span>
															</a>
														{{else}}
															<a href="{{$v.Link}}" target="_blank" class="clearfix">
																<div class="img fl">
																	<img src="{{$v.CateImg | formatImg}}" alt="{{$v.Title}}">
																</div>
																<span class="fl">{{$v.Title}}</span>
															</a>
														{{end}}
													</div>
												</li>
											{{end}}
										</ol>
									</div>
								</li>
							{{end}}
						</ul>
					</div>
				</div>
			</li>
			{{range $key,$value := .middleNavList}}
				<li>
					<a href="#" target="_blank">{{$value.Title}}</a>
					{{if eq $value.GoodsNil "NO"}}
						<ol class="children-list clearfix ">
							{{range $k,$v := $value.GoodsItem}}
								<li>
									<a href="#">
										<img src="{{$v.GoodsImg | formatImg}}" alt="{{$v.Title}}" />
										<p class="navtitle">{{$v.Title}}</p>
										<p>{{$v.Price}}元</p>
									</a>
								</li>
							{{end}}
						</ol>
					{{end}}


				</li>
			{{end}}
		</ul>
	</div>
	<div class="search fr">
		<form action="https://www.syjun.vip" method="get">
			<div class="text fl">
				<input style="padding-left: 20px" type="text" class="shuru"  placeholder="个人博客 www.syjun.vip">
			</div>
			<div class="submit fr">
				<input type="submit" class="sousuo" value="搜索"/>
			</div>
			<div class="clear"></div>
		</form>
		<div class="clear"></div>
	</div>
</div>
<!-- end banner_x -->
