{{template "../public/page_header.html" .}}

<div class="container-fluid">
    <div class="row">
        </div>
        <div class="col-sm-10">
            <!--
                列表展示
            -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr class="th">
                        <th>角色名称</th>
                        <th>角色描述</th>
                        <th>添加时间</th>

                        <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    {{range $key, $val := .role}}
                    <tr>
                        <td>{{$val.Title}}</td>
                        <td>{{$val.Description}}</td>
                        <td>{{$val.AddTime | unixToDate}}</td>
                        <td class="text-center">

                            <a href="/{{config "String" "adminPath" ""}}/role/auth?id={{$val.Id}}">授权</a>
                            <a href="/{{config "String" "adminPath" ""}}/role/edit?id={{$val.Id}}">编辑</a>
                            <a class="delete" href="/{{config "String" "adminPath" ""}}/role/delete?id={{$val.Id}}">删除</a>

                        </td>
                    </tr>
                    {{end}}

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>