<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>邮箱提示信息</title>
    <link rel="stylesheet" href="/static/admin/bootstrap/css/bootstrap.css">
</head>
<body>
    <div class="container-fluid">
        <div class="container" style="width: 520px;margin-top:100px;text-align: center">
            <div class="alert alert-success">
                <h2>邮件发送成功</h2>
                <br />
                <p>请登录您的邮箱进行验证</p>
                <br />

            </div>
        </div>
    </div>

</body>
</html>