<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="2;url={{.redirect}}">
    <title>提示信息</title>
    <link rel="stylesheet" href="/static/admin/bootstrap/css/bootstrap.css">
</head>

<body>
    <div class="container-fluid">
        <div class="container" style="width: 520px;margin-top:100px;text-align: center">
            <div class="alert alert-danger">
                <h2>操作失败-{{.message}}!</h2>
                <br />
                <p>如果您不做出选择，2秒后将自动返回上一个页面</p>
                
                <br />

            </div>
        </div>
    </div>

</body>

</html>