<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="//s01.mifile.cn/favicon.ico" type="image/x-icon">
    <title>小米商城后台管理</title>
</head>
<body>
<!--The content below is only a placeholder and can be replaced.-->

<link rel="stylesheet" href="/static/admin/bootstrap/css/bootstrap.css">

<link rel="stylesheet" href="/static/admin/css/basic.css">

<script type="text/javascript" src="/static/admin/bootstrap/js/jquery-1.10.1.js"></script>

<script type="text/javascript" src="/static/admin/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/admin/js/base.js"></script>